@font-face{
    font-family: 'Creepster', cursive;
    src: "https://fonts.googleapis.com/css2?family=Creepster&display=swap";
  }

body{
  background:#6a445a;
  justify-content:center;
}

.tl{
  font-family:'Creepster', cursive;
  text-align: center;
  font-size: 5vw;
  color:#081431;
  margin-bottom:3vh;
  margin-top:25vh;
}
#countdown{
  font-family:'Creepster', cursive;
  font-size:2vw;
  text-align:center;
  color:#312441;
}
.count{
  font-family:'Creepster', cursive;
  font-size:1.8vw;
  text-align:center;
  color:#9ca1a4;
}
.ghost{
  max-width:4vw;
  opacity:0%;
  position:absolute;
}
.ghost:hover{
  opacity:100%;
}
.container{
  align-items: center;
  text-align: center;
}
.music{
  max-height: 25vh;
  align-items: center;
  align-self: center;
  text-align: center;
  display: none;
}
.words{
  font-family:'Creepster', cursive;
  font-size:1.2vw;
  text-align:center;
  color:#312441;
}
.words:hover{
  color:#312441;
  font-size:1.27vw
}
#something{
  max-height: 25vh;
  align-items: center;
  align-self: center;
  text-align: center;
  display: none;
}